<!DOCTYPE html>
<html>
  <head>
    <title>Lend a Helping Brain</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body2>
        <h1>"Lend a Helping Brain"</h1>
        
        <!--Image by pch.vector on Freepik-->
        <img id="image-index" src="https://i.ibb.co/j64LxK9/P2-index.png" alt="P2-index" border="0">
        <div id="index-para">
          1. Post a Question. <br><br>
          2. Wait for Answers.<br><br>
          3. Learn! </div>
        
        
        <form action="/users/login/">
          <button id="login" type="submit">Get Started!</button>
      </form>

  </body2>
</html>
