<!DOCTYPE html>
<html>
  <head>
    <title>Homework Helper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users/login">Login</a>
    <h1>Homework Helper</h1>
    <p>What is it about? </p>
       How does it work?
  </body>
</html>
