body {

  background-repeat:repeat;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

#image-index {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 250px;
  left: 400px;

}

h1 {
  position: absolute;
  left: 520px;
  top: 100px;
  font-size: 50px;
  font-family: brush script 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login, #login-button {
  position: fixed;
  left: 810px;
  top: 530px;
  font-size: 30px;
  width: 320px;
  height: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  background-color: rgb(196, 253, 196);
  cursor: pointer;
}

#login:hover, #login-button:hover {
    background-color: rgb(237, 251, 237);
}

#index-para {
  position: fixed;
  font-size: 30px;
  left: 810px;
  top: 280px;
}

#login-pg {
    position: fixed;
    font-size: 30px;
    left: 810px;
    top: 280px;
  }


nav {
  background-color: lightcyan;
  height: 80px;
  text-align: center;
  padding: 30px;
}

a {
  color: blueviolet;
}

#all-qns {
  background-color: yellow;
  border-width: 10px;
  padding: 10px;
  font: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
  max-width: 700px;
  max-height: 700px;
}