body {
  background-color: white;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

#image-index, #image-login {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 250px;
  left: 400px;

}

h1 {
  position: absolute;
  left: 520px;
  top: 100px;
  font-size: 50px;
  font-family: brush script 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login, #login-button {
  position: fixed;
  left: 810px;
  top: 530px;
  font-size: 30px;
  width: 320px;
  height: 60px;
  font-family:Arial, Helvetica, sans-serif;
  color:black;
  background-color: rgb(196, 253, 196);
  cursor: pointer;
}

#login:hover, #login-button:hover {
    background-color: rgb(237, 251, 237);
}

#index-para {
  position: fixed;
  font-size: 30px;
  left: 810px;
  top: 280px;
}

#login-pg {
    position: fixed;
    font-size: 30px;
    left: 810px;
    top: 280px;
  }

#image-name {
  position: absolute;
  width: 180px;
  height: 180px;
  top: 10px;
  left: 20px;
  border-radius: 50%;
}

#user-msg {
  font-size: 16px;
  position: absolute;
  top: 50px;
  left: 250px;
}
nav {
  font-size: 17px;
  background-color: #000000cb;
  margin-top: 100px;
  margin-left: 210px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 70%;
  border-radius: 50px;
}

nav a {
  color: #ffffff;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #b4a9a9;
  cursor: pointer;
}

h2 {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
}

table {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
}

th {
  background-color: hwb(211 84% 0%);
}

td,th {
  border: 0px solid #ccc;
  padding: 30px;
}

tr:nth-child(even) {
  background-color: #eafaff;
}

tr:hover {
  background-color: #bec1c26f;
  
}

a {
  color: purple;
  text-decoration: none;
}
a:hover {
  color: white;
  cursor: pointer;
}

#details {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  background-color: rgba(164, 164, 252, 0.713);
  color: #000000;
}

#edit {
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  background-color: rgba(218, 255, 107, 0.713);
  color: #000000;
}

#details:hover, #edit:hover {
  background-color: #ffffff;
  cursor: pointer;
}

 img {
   max-width: 700px;
   max-height: 700px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 #questions, #comments {
  font-size: 18px;
   margin: 0px 0px 10px 450px;
   align-items: left;
   flex-direction: column;
   text-align: left;
   line-height: 60px;
 }
 

#replies {
    width: 50%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
        border-radius: 10px;
}


